#color-sample {
    color: green;
    color: darkgreen;
    color: limegreen;
    color: greenyellow;
    color: yellowgreen;
    color: forestgreen;
    color: yellow;
    color: gold;
    color: orange;
    color: orangered;
    color: red;
    color: crimson;
    color: magenta;
    color: fuchsia;
    color: violet;
    color: indigo;
    color: blue;
    color: blueviolet;
    color: darkblue;
    color: darkcyan;
    color: cyan;
    color: teal;
    color: lightyellow;
    color: lightgoldenrodyellow;
    color: lemonchiffon;
    color: white;
    color: snow;
    color: ghostwhite;
    color: whitesmoke;
    color: gainsboro;
    color: lightgray;
    color: silver;
    color: darkgray;
    color: gray;
    color: dimgray;
    color: lightslategray;
    color: slategray;
    color: darkslategray;
    color: black;
    color: darkslateblue;
    color: slateblue;
    color: mediumslateblue;
    color: lightsteelblue;
    color: lightblue;
    color: deepskyblue;
    color: dodgerblue;
    color: cornflowerblue;
    color: steelblue;
    color: lightcyan;
    color: paleturquoise;
    color: turquoise;
    color: mediumturquoise;
    color: darkturquoise;
    color: lightseagreen;
    color: mediumseagreen;
    color: seagreen;
    color: darkseagreen;
    color: lightgreen;
    color: palegreen;
    color: springgreen;
    color: mediumspringgreen;
    color: lawngreen;
    color: chartreuse;
    color: mediumaquamarine;
    color: aquamarine;
    color: lightcoral;
    color: coral;
    color: tomato;
    color: orangered;
    color: darkorange;
    color: lightsalmon;
    color: salmon;
    color: lightpink;
    color: pink;
    color: hotpink;
    color: deeppink;
    color: palevioletred;
    color: mediumvioletred;
    color: lavenderblush;
    color: mistyrose;
    color: antiquewhite;
    color: linen;
    color: beige;
}