html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  body {
    box-sizing: border-box;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  body::after {
    content       : "";
    position      : absolute;
    top           : 0;
    left          : 0;
    width         : 100%;
    height        : 100%;
    background    : repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
    pointer-events: none;
  }
  
  a {
    color: lemonchiffon;
  }
  
  a:link a:hover a:visited a:active a:focus {
    color: lemonchiffon;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  
  caption {
    font-weight: bold;
    text-align: left;
  }
  
  th {
    text-align: left;
  }
  
  iframe {
    box-sizing: border-box;
    width: 100%;
    height: 85%;
    border: none;
  }
  
  .color-sample {
    color: green;
    color: darkgreen;
    color: limegreen;
    color: greenyellow;
    color: yellowgreen;
    color: forestgreen;
    color: yellow;
    color: gold;
    color: orange;
    color: orangered;
    color: red;
    color: crimson;
    color: magenta;
    color: fuchsia;
    color: violet;
    color: indigo;
    color: blue;
    color: blueviolet;
    color: darkblue;
    color: darkcyan;
    color: cyan;
    color: teal;
    color: white;
    color: snow;
    color: ghostwhite;
    color: whitesmoke;
    color: gainsboro;
    color: lightgray;
    color: silver;
    color: darkgray;
    color: gray;
    color: dimgray;
    color: lightslategray;
    color: slategray;
    color: darkslategray;
    color: black;
  }
  
